@import "reset.css";


body{
position: relative;
width: 1440px;
height: 14822px;
margin: 0 auto;

background: #FFFFFF
}


.black{
  background: #000;
  width: 1100px;
  height: 800px;
  z-index: 1;
  position: relative;
  margin-top: -30px;
  padding-left: 170px;
  padding-right: 170px;

}
#one{
  position: absolute;
  width: 840px;
height: 260px;
z-index: 2;
color: #FFFFFF;

margin-top: 170px;
font-family: Futura PT;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 70px;
}
#two{
  font-family: Futura PT;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  position: absolute;
  margin-top: 486px;
  text-align: left;
  color: #FFFFFF;
  width: 500px;
  height: 180px;
  margin-left: 595px;

}
.vector32{
  position: absolute;
width: 566.2px;
height: 112.72px;
left: 315px;
top: 719.78px;
z-index: 2;
}
h2{
position: absolute;
width: 592px;
height: 294px;
left: calc(50% - 592px/2 + 16px);
top: 257px;
font-family: Futura PT;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
#pink{
  position: absolute;
width: 623.98px;
height: 1274.45px;
left: 348.5px;
top: 747.91px;
z-index: 3;
}
#end{
  position: absolute;
width: 30px;
height: 44px;
left: 953px;
top: 1970px;
}
h4{
  margin-top: 200px;
  font-family: Futura PT;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 60px;
color: #000000;
width: 480px;
height: 528px;
margin-left: 170px;
display: block;
}
#burger{
display: block;
width: 760.38px;
height: 466.59px;
margin-top: -620px;
margin-left: 755px;
z-index: 4;
background: url(бургер-01.png);
transform: rotate(-13.43deg);

}
#line3{
  display: block;
  margin-top: -515px;
  margin-left: 850px;
}
#want{
  display: block;
  font-family: Futura PT;
font-style: normal;
font-weight: bold;
font-size: 90px;
line-height: 70px;
color: #000000;
margin: 430px 395px 0 395px;
position: relative;

}
#big{
font-family: Futura PT;
font-style: normal;
font-weight: 460;
font-size: 36px;
line-height: 50px;
text-align: center;
color: #000000;
width: 700px;
height: 107px;
margin-top: 118px;
margin-left: 358px;
}
